body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* HERO */
.hero  {
    background-color: #dfcd81;
    color: rgb(117, 93, 55);
    text-align: center;
    padding: 80px 20px;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: white;
    color: #8d7646;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/* SECTION */
section {
    padding: 50px 20px;
    text-align: center;
}

.about {
    background-color: #f4f4f4;
}

/* SKILLS */
.skill-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background-color: #cdac5a;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    background-color: #f4f4f4;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #e2c860;